colorspacious==1.1.2
coverage==7.6.1
edfio==0.4.3
geoopt==0.5.0
geotorch==0.3.0
google-pasta==0.2.0
hpack==4.0.0
imbalanced-learn==0.12.3
iniconfig==2.0.0
lightning==2.4.0
lightning-utilities==0.11.6
llvmlite==0.42.0
memory-profiler==0.61.0
mne==1.7.1
mne-bids==0.14
moabb==1.1.0
munkres==1.1.4
numpy==1.24.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
openmeeg==2.5.8
pandas==1.5.3
pluggy==1.5.0
protobuf==4.24.4
PyQt5==5.15.9
PyQt5-sip==12.12.2
pyriemann==0.6
pytest==7.4.4
pytorch-lightning==2.4.0
seaborn==0.12.2
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchmetrics==1.4.1
torchvision==0.19.1+cu118
triton==3.0.0
urllib3==1.26.19
vtk==9.2.6
zstandard==0.22.0
