absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
coverage==7.4.4
edfio==0.4.3
EDFlib-Python==1.0.8
et-xmlfile==1.1.0
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.4.0
geoopt==0.5.0
geotorch==0.3.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.64.0
h5py==3.11.0
imbalanced-learn==0.12.3
inflection==0.5.1
intel-openmp==2021.4.0
jsonpointer==2.1
keras==2.13.1
libclang==18.1.1
lightning==2.3.0
lightning-utilities==0.11.2
memory-profiler==0.61.0
mkl==2021.4.0
mkl-service==2.4.0
mne==1.7.1
mne-bids==0.14
moabb==1.1.0
munkres==1.1.4
numpy==1.24.3
nyancat==0.1.2
oauthlib==3.2.2
openpyxl==3.0.10
opt-einsum==3.3.0
pandas==1.5.3
patsy==0.5.3
ply==3.11
pooch==1.8.1
protobuf==3.20.3
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyriemann==0.6
python-lsp-jsonrpc==1.0.0
pytorch-lightning==2.3.0
pywin32==305.1
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.5.1
scipy==1.11.4
skorch==1.0.0
statannot==0.2.3
tbb==2021.13.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-addons==0.22.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
torch==2.3.1
torchmetrics==1.4.0.post0
typeguard==2.13.3
typing_extensions==4.12.2
urllib3==1.26.18
webencodings==0.5.1
zstandard==0.19.0
